*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 18px 0px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: rgb(160, 86, 148);
    font-size: 20px;
}
p{
    color: white;
}
.cart{
    width: 25px;
    cursor: pointer;

}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    color: white;
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%); 
    z-index: 2;
    flex-basis: 50%;

}
.col-2 h1{
    font-family: 'Lobster', cursive;
    font-size: 50px;
}
button{
    color: #fbfcfd;
    padding: 10px 25px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    transition-duration: 0.4s;
    font-size: large;
    
}
button:hover{
    background-color: white;
    color: #a0588e;
    padding: 15px 30px;
    border-radius: 25px;
    
}
.celebration img{
    width: 50px;
    animation: celebration 5s linear infinite;
}
.celebration{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -70px; 
}
@keyframes celebration{
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    70%{
        opacity: 1;
    }
    100%{
        transform: translateY(-80vh);
        opacity: 0;
    }
}

.celebration img:nth-child(1){ 
    width: 25px;
    animation-delay: 2s;

}
.celebration img:nth-child(2){
    animation-delay: 1s;
}
.celebration img:nth-child(3){
    width: 25px;
    animation-delay: 3s;
}
.celebration img:nth-child(4){
    animation-delay: 4.5s;
}
.celebration img:nth-child(5){
    width: 25px;
    animation-delay: 3s;
}
.celebration img:nth-child(6){
    animation-delay: 6s;
}
.celebration img:nth-child(7){
    width: 25px;
    animation-delay: 7s;
}
.celebration img:nth-child(8){
    width: 25px;
    animation-delay: 5s;
}
.celebration img:nth-child(9){
    animation-delay: 3s;
}
.celebration img:nth-child(10){
    width: 25px;
    animation-delay: 3s;
}
.header{
    width: 100%;
    height: 100vh; 
    background-image:linear-gradient(rgba(218, 210, 210, 0.8),rgba(117, 58, 98, 0.8)),url(images/bag.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

/*------------------------------featured categories-------------------------------*/

.categories{
    margin: 70px 0;
}
.col-3{
 
    min-width: 250px;
}
.col-3 img{
    width: 100%;
}
.small-container{
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

/*---------------featured products-----------------------*/

.col-4 p{
    color: black;
    font-size: 20px;

}
.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%;
    cursor: pointer;

}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: rgba(117, 58, 98, 0.8);
}
.title::after{
    content: '';
    background: pink;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
h4{
    color: #555;
    font-weight: normal;

}
.rating .fa{
    color: rgba(117, 58, 98, 0.8);
}
.col-4:hover{
    transform: translateY(-5px);
}
.bttn{
    color: #ffffff;
    padding: 10px 25px;
    background: rgb(131, 3, 93);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    transition-duration: 0.4s;
    font-size: large;
    
    
}
.bttn:hover{
    background-color: rgb(105, 6, 82);
    color: #ffffff;
    padding: 15px 30px;
    border-radius: 25px;
    
}

/*-----------offer-------------*/

.col-5{
    flex-basis: 50%;
    min-width: 300px;
}
.col-5 img{
    max-width: 100%;
    padding: 20px;
    
}
.col-5 p{
    color: rgb(184, 37, 127);
}
.col-5 h1{
    color: rgb(255, 255, 255);
}
.offer{
    background: radial-gradient(pink,violet);
    margin-top: 80px;
    padding: 30px 0;
}
.col-5 .offer-img{
    padding-left: 30px;
}
.col-5 small{
    color: rgb(161, 8, 110)
}
.col-5 .btn{
    color: #fbfcfd;
    padding: 10px 25px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    transition-duration: 0.4s;
    font-size: large;
}
.col-5 .btn:hover{
    background-color: white;
    color: #a0588e;
    padding: 15px 30px;
    border-radius: 25px;
    
}


/*-----------testimonial-----------------------------*/

.col-3 p{
    color: black;
    text-align: center;
    width: 250px;
    height: 15px;
    display: inline-block;
    font-size: 12px;
    color: rgb(146, 55, 146);
}
.testimonial {
    padding-top: 100px;
}
.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.5s;
}
.testimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
.testimonial .col-3:hover{
    transform: translateY(-10px);
}
.fa.fa-quote-left{
    font-size: 34px;
    color: pink;
}
.testimonial .col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 16px;
}

/*---------footer--------------*/

.footer{
    background: black;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: #8a8a8a;

}
.footer h3{
    color:white;
    margin-bottom: 20px;
}
.footer-col-1,.footer-col-2,.footer-col-3,.footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
    cursor: pointer;

}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 40px;
    cursor: pointer;
    
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}

.menu-icon{
    width: 38px;
    margin-left: 240px;
    display: none;
    position: fixed;


}

/*------------media query for menu--------------*/

@media only screen and (max-width: 800px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: linear-gradient(rgb(214, 9, 129),violet);
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
        z-index: 3;

    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: white;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
     
    }
}

/*------media query for less than 600 screen size------*/

@media only screen and (max-width: 600px){
    .row{
        text-align: center;
    }
    .col-2,.col-3,.col-4,.col-6{
        flex-basis: 100%;
    }
}

/*-----about------------*/
.col-6{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.5s;
    }
    .abt{
        font-family: 'Lobster', cursive;
        color: white;
        font-size: 20px;
        text-align: center;
        width: 350px;
        height: 15px;
        display: inline-block;
        
        
    }